/* Leaderboard Root Styling */
.leaderboard-root {
    color: var(--light-text-color) !important;
    min-height: 100vh;
    padding-top: 4px;
    z-index: 3;
}

body.dark .leaderboard-root {
    background-color: var(--card-bg-dark) !important;
    color: var(--dark-text-color) !important;
}

/* Card Styling */
.card {
    background-color: var(--card-bg-light);
    border-radius: 12px;
    padding: 20px;
    border: 1px solid #ddd;
    z-index: 3;
}

body.dark .card {
    background-color: var(--card-bg-dark) !important;
    color: var(--dark-text-color) !important;
    border: 1px solid #444;
    box-shadow: 0 6px 16px rgba(255, 255, 255, 0.05);
}

/* Table Styling */
.table {
    background-color: var(--card-bg-light);
    color: var(--light-text-color);
    z-index: 3;
}

body.dark .table {
    background-color: #3b3b5a !important;
    color: var(--dark-text-color) !important;
}

body.dark .table thead {
    background-color: #444a6d !important;
    color: #fff !important;
}

body.dark .table-bordered td,
body.dark .table-bordered th {
    border-color: #777 !important;
}
