/* Leaderboard Root Styling */
.leaderboard-root {
    background-color: var(--light-bg-color) !important;
    color: var(--light-text-color) !important;
    min-height: 100vh;
    padding-top: 80px;
}

body.dark {
    background: linear-gradient(180deg, #1c1c1c 0%, #343236 100%);
}


/* Dark Mode for Leaderboard */
body.dark .leaderboard-root {
    background-color: var(--dark-bg-color) !important;
    color: var(--dark-text-color) !important;
}

/* Dark Mode Card & Table */
body.dark .card {
    background-color: var(--surface-overlay-6dp) !important;
    color: var(--dark-text-color) !important;
    border: none;
}

body.dark .table {
    background-color: var(--surface-overlay-1dp) !important;
    color: var(--dark-text-color) !important;
}

body.dark .table thead {
    background-color: var(--secondary-btn-color) !important;
    color: var(--dark-text-color) !important;
}

body.dark .table-bordered td,
body.dark .table-bordered th {
    border-color: #888 !important;
}