.report-page {
    margin-top: 0px;
    padding: 2rem;
    max-width: 1000px;
    background: var(--card-bg-light);
    border-radius: 12px;
    z-index: 3;
}

body.dark .report-page {
    background: var(--card-bg-dark);
    color: var(--dark-text-color);
}

.report-title {
    color: var(--secondary-btn-color);
    font-weight: 600;
    margin-bottom: 1rem;
}

body.dark .report-title {
    color: #ffd86b;
}

/* Mute button size fix */
.btn-sm {
    font-size: 0.85rem;
    padding: 4px 8px;
    max-width: 150px;
}

.btn-sms1 {
    font-size: 0.85rem;
    padding: 4px 8px;
    max-width: 800px;
}

.btn-sms2 {
    font-size: 0.85rem;
    padding: 4px 8px;
    max-width: 200px;
}

.map-wrapper {
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

body.dark .map-wrapper {
    border-color: #555;
    background-color: var(--card-bg-dark);
}

.custom-zoom-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.zoom-btn {
    width: 32px;
    height: 32px;
    font-size: 16px;
    background-color: #2f6a44;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.zoom-btn:hover {
    background-color: #1b4332;
}
