:root {
  --nav-bg-start: #2E3192;
  --nav-bg-end: #1E2266;
  --surface-overlay-1dp: #1f1f1f;
  --surface-overlay-6dp: #2c2c2c;
  --primary-btn-color: #d90429;
  --primary-btn-hover: #b00020;
  --secondary-btn-color: #2E3192;
  --secondary-btn-hover: #1E2266;
  --light-bg-color: #ffffff;
  --light-text-color: #111111;
  --dark-bg-color: #181818;
  --dark-text-color: #eeeeee;
  --card-bg-light: #ffffff;
  --card-bg-dark: #242424;
  --card-text-dark: #cccccc;
}

/* General Reset and Bootstrap Base Compatibility */
body,
html {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
}

body.dark {
  background: linear-gradient(180deg, #1c1c1c 0%, #343236 100%);
  color: var(--dark-text-color);
}


.page-content {
  padding: 10px;
}